body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    align-items: center;
}
a {
    text-decoration: none;
    color: #009999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', '微软雅黑';
}
p {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', 'MingLiu';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', '微软雅黑';
}

ul.posts li {
    list-style: none;
}

div ul li, ol li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', '微软雅黑';
}

.center-image
{
    margin: 0 auto;
    display: block;
    width: 60%;
}

.poem
{
    font-family: 'STFangsong', 'FangSong_GB2312', 'FangSong';
    font-size: 16px;
    text-align: center;
}

.self 
{
    font-size: 14px;
}

.cover 
{
    margin: 0 auto;
    display: block;
    width: 80%;
}

/* ------- pagination -------- */

.pagination {
    height: 36px;
    text-align: center;
}

.pagination a {
    margin: auto;
}

.pagination a:hover {
    background-color: #a6ce39;
}

.pagination span {
    margin: auto;
}
