{% extends "base.html" %}

{% block announce %}
<!-- <p style="text-align: center; font-size: 14px; font-family: 'STFangsong', 'FangSong_GB2312', 'FangSong', 'Apple LiSung Light';">霽月難逢，彩雲易散。心比天高，身為下賤。<br>風流靈巧招人怨。壽夭多因毀謗生，多情公子空牽念。</p> -->
<!-- <p style="text-align: center; font-size: 14px; font-family: 'STFangsong', 'FangSong_GB2312', 'FangSong', 'Apple LiSung Light';">白玉堂前春解舞，東風捲得均勻。蜂團蝶陣亂紛紛，幾曾隨逝水，豈必委芳塵？<br>萬縷千絲終不改，任他隨聚隨分。韶華休笑本無根，好風頻借力，送我上青雲。</p> -->
<!-- <p class="poem">初度人人綺宴開，我逢初度不勝哀。<br>慈顏一去無消息，忍對南山瀉壽杯。</p> -->
<!-- <p class="poem">苗逢旱天漸漸衰，幸得天恩降雨來。<br>憂去喜來能變化，求謀諸事遂心懷。</p> -->
<!-- <p class="poem">勸君耐守舊生涯，把定身心莫聽邪。<br>直待有人輕著力，滿園枯木再開花。</p> -->
<!-- <p class="poem">爛柯真訣妙通神，一局曾經幾度春。<br>自出洞來無敵手，得饒人處且饒人。</p> -->
<!-- <p class="poem">半神半聖亦半仙，通儒通道是通賢。<br>腦中玄機用不盡，掌握文武半邊天。</p> -->
<!-- <p class="poem">自小刺頭深草裡，而今漸覺出蓬蒿。<br>時人不識凌雲木，直待凌雲始道高。</p> -->
<!-- <p class="poem">相見時難別亦難，東風無力百花殘。春蠶到死絲方盡，蠟炬成灰淚始乾。<br>曉鏡但愁雲鬢改，夜吟應覺月光寒。蓬山此去無多路，青鳥殷勤為探看。</p> -->
<!-- <p class="poem">極目襄垣道，蕭蕭落葉秋。人猶避騘馬，夢已隔丹丘。<br>比穴看明鏡，同歸想玉樓。餘芳知未歇，孫子在瀛洲。</p> -->
<p class="poem">拔山蓋世何為者？三尺青龍不切泥。<br>且向斷崖聊一試，如聞鬼母夜悲啼。</p>
{% endblock %}
