{% extends "base.html" %}

{% block announce %}
<!-- <p style="text-align: center; font-size: 14px; font-family: 'STFangsong', 'FangSong_GB2312', 'FangSong', 'Apple LiSung Light';">霽月難逢，彩雲易散。心比天高，身為下賤。<br>風流靈巧招人怨。壽夭多因毀謗生，多情公子空牽念。</p> -->
<!-- <p style="text-align: center; font-size: 14px; font-family: 'STFangsong', 'FangSong_GB2312', 'FangSong', 'Apple LiSung Light';">白玉堂前春解舞，東風捲得均勻。蜂團蝶陣亂紛紛，幾曾隨逝水，豈必委芳塵？<br>萬縷千絲終不改，任他隨聚隨分。韶華休笑本無根，好風頻借力，送我上青雲。</p> -->
<p class="poem">初度人人綺宴開，我逢初度不勝哀。<br>慈顏一去無消息，忍對南山瀉壽杯。</p>
{% endblock %}
