<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            {% if page.use_math %}
                {% include mathjax_support.html %}
            {% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/videos/">Videos</a></li>
				    <li><a href="/cv/MyCV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/xin-huang">github.com/xin-huang</a></li>
				<li><a href="https://www.researchgate.net/profile/Xin_Huang39">Research Gate</a></li>
				<li><a href="http://orcid.org/0000-0002-9918-9602">ORCID</a></li>
				</ul>
			</footer>
		</body>
	</html>
