<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/academicons-1.7.0/css/academicons.css"/>
    <link rel="stylesheet" href="/css/font-awesome-colors.css">
    <link rel="stylesheet" href="/css/academic-icons-colors.css">
    <link rel="stylesheet" href="/css/tags.css">
    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    {% if page.use_math %}
        {% include mathjax_support.html %}
    {% endif %}
</head>
<body>
    <nav>
	   <ul>
	       <li><a href="/">About</a></li>
           <li><a href="/cv/Xin_Huang_CV.pdf">CV</a></li>
	   </ul>
    </nav>

    <div class="row">
			
        {{ content }}
			
    </div><!-- /.container -->
     <footer>
        <ul  style="text-align: center">
            {% if site.github_username %}
	           <li><a href="https://github.com/{{ site.github_username }}">
                   <i class="fa fa-color fa-github fa-2x" aria-hidden=true></i></a></li>
            {% endif %}
            {% if site.researchgate_username %}
				<li><a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
				    <i class="ai ai-color ai-researchgate ai-2x" aria-hidden=true></i></a></li>
            {% endif %}
            {% if site.orcid %}
				<li><a href="http://orcid.org/{{ site.orcid }}">
                    <i class="ai ai-color ai-orcid ai-2x" aria-hidden=true></i></a></li>
            {% endif %}
                <li><a><span id="badgeCont178"><script type="text/javascript" src="https://publons.com/mashlets?el=badgeCont178&rid=AAV-5202-2020&size=small"></script></span></a></li>
            {% if site.linkedin_username %}
                <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="fa fa-color fa-linkedin fa-2x" aria-hidden=true></i></a></li>
            {% endif %}
            <p class="poem">殘聲憑燭捻韶光，半掩孤幃懸錦囊。<br>滿樹凋零無寄處，獨吟蕭索倦癡狂。</p>
        </ul>
    </footer>
    {% include analytics.html %}
</body>
</html>
